body{
  background-color: #EEEEEE;
}

img{
  width: 100%;
}

h1{
  font-family: Impact;
  font-size: 3em;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

hr{
  height: 0.5em;
  border-radius: 5em;
  border-width: 0.125em;
  border-color: #000000;
  background-color: #3375c0;
}
